{{ define "thread.tmpl" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "header.tmpl" .}}
  </head>
  <body>
    {{ template "navbar.tmpl" .}}
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="lead">
            <i class="fa fa-comment-o"></i> {{ .Thread.Topic }}</span
          >
          <div class="pull-right">
            {{ with .Thread}} Started by {{ .User.Name }} - {{ .CreatedAtFormat
            }} {{end}}
          </div>
        </div>

        {{ range .Thread.Posts }}
        <div class="panel-body">
          <span class="lead"> <i class="fa fa-comment"></i> {{ .Body }}</span>
          <div class="pull-right">
            {{ .User.Name }} - {{ .CreatedAtFormat }}
          </div>
        </div>
        {{ end }}
      </div>
      {{ if not .IsPublic }}
      <div class="panel panel-info">
        <div class="panel-body">
          <form role="form" action="/thread/post" method="post">
            <div class="form-group">
              <textarea
                class="form-control"
                name="body"
                id="body"
                placeholder="Write your reply here"
                rows="3"
              ></textarea>
              <input type="hidden" name="uuid" value="{{ .Uuid }}" />
              <br />
              <button class="btn btn-primary pull-right" type="submit">
                Reply
              </button>
            </div>
          </form>
        </div>
      </div>
      {{ end }}
    </div>
  </body>
</html>
{{ end }}
